.header-nav {
  background-color: $gray_bg;
  font-size: 12px;
  line-height: 20px;

  .row {
    justify-content: space-between;
  }
  &__list {
    margin-left: -10px;
    @include flex;
  }
  &__item {
    display: flex;
  }
  &__login {
    @include centralize;
    justify-content: center;
    width: 124px;
    height: 50px;
    margin-left: auto;
    background-color: $orange;
    font-family: 'Myriad Pro', sans-serif;
    img {
      margin-right: 10px;
    }
  }
  &__link {
    @include centralize;
    color: #c3c3c3;
    text-decoration: none;
    height: 50px;
    padding: 0 14px;
    margin: 0 4px;
  }
  .active {
    color: $white;
    border-bottom: 2px solid $yellow;
    box-sizing: border-box;
  }
}

.header-main {
  &__logo {
    margin: 40px 0 47px 0;
    cursor: pointer;
  }
  &__phone-box, .phone-box__num {
    @include flex;
    height: 49px;
  }
  &__items {
    @include flex;
    width: 100%;
  }
  &__item {
    font-size: 10px;
    line-height: 20px;
    @include flex;
    flex-direction: column;
    color: #3d3d3d;
    margin-right: 20px;
    width: 33%;
    cursor: pointer;

    img {
      margin-bottom: 10px;
    }
  }
}
.phone-box__num {
  background-color: $lighter_bg;
  font-size: 16px;
  line-height: 20px;
  color: $black_text;
  font-family: 'Roboto BoldItalic', sans-serif;
  padding-left: 12px;
}
.num-1 {
  margin-right: 40px;
}
.num-2 {
  margin-right: 44px;
}
.phone-box__button {
  width: 197px;
  height: 49px;
  font-family: 'Myriad Pro', sans-serif;
  line-height: 20px;
  font-size: 12px;
  background-color: $orange;
  @include centralize;
  justify-content: center;

  img {
    margin-right: 8px;
  }
}
