@mixin gradient { 
  background: -webkit-linear-gradient(to right, $grad1, $grad2);
  background: -moz-linear-gradient(to right, $grad1, $grad2);
  background: -o-linear-gradient(to right, $grad1, $grad2);
  background: linear-gradient(to right, $grad1, $grad2);  
}
@mixin flex {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
@mixin size($columns) {
  width: calc(100% / 12 * #{$columns} - 20px);
}
@mixin centralize {
  display: flex;
  align-items: center;
}